@model IdEpi.WebEpiserver.Features.Pages.Start.StartPageViewModel

@{
    //ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hello world!</h1>
<p>@Model.TestProp</p>

@if (Model.Claims != null)
{
    <dl>
        @foreach (var claim in Model.Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>

        }

    </dl>
}

