@using Microsoft.AspNetCore.Authentication
@{
    ViewData["Title"] = "Secure";
}
<h2>@ViewData["Title"]</h2>

<h3>Api stuff</h3>

<dl>
    <dt>access token</dt>
    <dd>@await ViewContext.HttpContext.GetTokenAsync("access_token")</dd>

    <dt>refresh token</dt>
    <dd>@await ViewContext.HttpContext.GetTokenAsync("refresh_token")</dd>
</dl>


<h3>Content from api</h3>
<div>
    @ViewData["Content"]
</div>


